[Unit]
Description=Gran Hermano - Ministerio de Propaganda
After=graphical.target

[Service]
Type=simple
ExecStart=/opt/bigbrother/bin/propaganda.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
